:root {
    --green: #259D19;
    --dark-blue: #171A8F;
    --white: #ffffff;
    --transparent-orange: #E3A11F;
    --orange: #E3A11F;

    font-family: 'Open Sans';
}

body {
    margin: 0;
}
.site-content {
    width: 1920px;
    height: 85px;
    
}
.header-section-content {
    display: flex;
    justify-content: space-between;
   
}
.logo-container {
    margin-left: 320px;
    margin-top: 10px;

}
.search {
    width: 769px;
    color: #444242;
}
.search-input {
    color: grey;
}

input {
    border-radius: 50px;
    width: 250px;
    height: 45px;
    margin-left: 400px;
    background-color: lightgray;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 320px;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 85px;
    background-color: var(--green);
    
}
a {
    color: var(--white);
    text-decoration: none;
    padding: 0 60px;
    border-left: 2px solid white;
}
.home {
    color: #E3A11F;
}
.main-section {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
        url('/src/pictures/building.png') center/cover;
    height: 885px;
    display: flex;
}
.main-section-content {
    padding-top: 300px;
    width: 1140px;
    height: 100px;
}

.civil, .somali, .btn-1 {
    margin-top: 30px;
    margin-left: 320px;
}
.civil {
    font-size: 45px;
    color: var(--green);
}
.somali {
    font-size: 14px;
    color: var(--dark-blue);
}
.btn-1 {
    width: 173px;
    height: 45px;
    color: var(--orange);
    background-color: var(--dark-blue);
    
}
.strelka {
    color: var(--dark-blue);
    justify-content: center;
    align-items: center;
    padding-left: 35px;
}
.about {
    background-color: var(--transparent-orange);
    display: flex;
    justify-content: space-between;
}
.about-golo {
    width: 570px;
    margin-left: 320px;
}
.construction-text {
    background-color: var(--green);
    color: var(--white);
    margin-top: -5px;
    padding: 10px 10px;
}
.about-golo, p {
    margin-right: 18px;
    
}
h1 {
    font-size: 45px;
    color: var(--green);
}
.core {
    width: 570px;
    margin-right: 320px;
    margin-top: 170px;
    
}
h2 {
    margin-left: 50px;
    font-size: 45px;
    color: var(--dark-blue);
}
